// style variables

$PrimaryBG: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
$PrimaryFontColor: linear-gradient(
  to top,
  #1e3c72 0%,
  #1e3c72 1%,
  #2a5298 100%
);

$Big-fontSize: 3rem;
$MediumLetterSpacing: 0.4rem;
